{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
<section class="events-section">
    <div class="container">
        <h1 class="section-title">Upcoming Events</h1>
        <div class="events-grid">
            {% for event in events %}
            <div class="event-card">
                {% if event.image %}
                <div class="event-image">
                    <img src="{{ event.image.url }}" alt="{{ event.title }}"  style="max-height: 400px; object-fit: cover;">
                </div>
                {% endif %}
                <div class="event-content">
                    <h3 class="event-title">{{ event.title }}</h3>
                    <p class="event-location">
                        <i class="fas fa-map-marker-alt"></i>
                        {{ event.place }}
                    </p>
                    <p class="event-date">
                        <i class="fas fa-calendar"></i>
                        {{ event.date_debut }} - {{ event.date_fin }}
                    </p>
                    <a href="{% url 'event_detail' event.id_event %}" class="btn-show-more">Show More</a>
                </div>
            </div>
            {% empty %}
            <p>No upcoming events found.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
